'$schema' = 'https://starship.rs/config-schema.json'

# format = '''
# [╭───](bold green) $directory$git_branch$git_status $cmd_duration
# [╰─](bold green) $character
# '''
#
# add_newline = true
#
# [directory]
# # truncation_length = 3
# truncate_to_repo = true
# style = 'bold cyan'
#
# [cmd_duration]
# min_time = 500
# format = 'took [$duration](dimmed white)'

format = """[](orange)[$os](bg:orange fg:fg0)\
[](bg:yellow fg:orange)[$directory](fg:fg0 bg:yellow)\
[](fg:yellow bg:aqua)[$git_branch](fg:fg0 bg:aqua)\
[](fg:aqua bg:blue)[$c$cpp$rust$golang$nodejs$php$java$kotlin$haskell$python](fg:fg0 bg:blue)\
[](fg:blue bg:dark_gray)[$cmd_duration](fg:white bg:dark_gray)\
[ ](fg:dark_gray)$line_break$character\
"""

# format = "$directory$git_branch$git_status $character"

palette = 'gruvbox_dark'

[palettes.gruvbox_dark]
fg0        = '#fbf1c7'
dark_gray  = '#3c3836'
light_gray = '#665c54'
blue       = '#458588'
aqua       = '#689d6a'
green      = '#98971a'
orange     = '#d65d0e'
purple     = '#b16286'
red        = '#cc241d'
yellow     = '#d79921'

[character]
success_symbol = '[\$](green)'
error_symbol = '[!](bold red)'

[os]
disabled = false
format = '$symbol '

[os.symbols]
Windows = '󰍲'
Arch = '󰣇'

[directory]
format = ' $path '
truncation_length = 3
truncation_symbol = '…/'

[directory.substitutions]
'Documents' = '󰈙 '
'Downloads' = ' '
'Music' = '󰝚 '
'Pictures' = ' '
'Developer' = '󰲋 '

[git_branch]
format = '  $branch$all_status$ahead_behind '

[nodejs]
symbol = ''
format = ' $symbol $version '

[c]
symbol = ' '
format = ' $symbol $version '

[cpp]
symbol = ' '
format = ' $symbol $version '

[rust]
symbol = ''
format = ' $symbol $version '

[golang]
symbol = ''
format = ' $symbol $version '

[php]
symbol = ''
format = ' $symbol $version '

[java]
symbol = ''
format = ' $symbol $version '

[kotlin]
symbol = ''
format = ' $symbol $version '

[haskell]
symbol = ''
format = ' $symbol $version '

[python]
symbol = ''
format = ' $symbol $version '

[line_break]
disabled = false

[cmd_duration]
min_time = 0
show_milliseconds = true
format = '  $duration'
